[user]
	name = Shota Hoshino
	email = sht.hshn@gmail.com
[core]
	editor = /usr/local/bin/vim
	excludesfile = ~/.gitignore
	whitespace = fix, -indent-with-no-tab, trailing-space, cr-at-eol
[push]
	default = simple
[alias]
	sync = fetch -pav
